<%
  Project.change_act_as_nested
  Project.update_all({order_lft: nil, order_rgt: nil})
  Project.rebuild! %>
<div class="">
  <p>
    Sort by <% array = Project.column_names.reject{|col| ['id', 'lft', 'rgt','parent_id', "order_lft", 'order_rgt'].include? col}.
      map{|column| [l("field_#{column}".to_sym),  "project_#{column}" ]}
               ProjectCustomField.where(nil).map{|cf| [cf.name, "cf_#{cf.id}" ]}.each do |v|
                 array << v
               end
  %>

    <%= select_tag("settings[sorting_name]", options_for_select(array.compact, selected: @settings['sorting_name'] )) %>
  </p>
</div>